<nav
  class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <img
      class="logo"
      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png&w=288&h=288&transparent=true"
      alt="NBA"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="d-flex navbar-nav navUl">
        {{!-- <li class="nav-item">
          <a
            class="btn btn-outline-light btn-sm me-2"
            aria-current="page"
            href="/"
          >Home page</a>
        </li> --}}
        <li class="nav-item">
          <a
            class="btn btn-outline-light btn-sm me-2"
            aria-current="page"
            href="/{{user._id}}/profile"
          >Profile</a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-outline-light btn-sm me-2"
            href="/allCollection/{{user._id}}"
          >All collection</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-outline-light btn-sm logout me-2">Log
            Out</a>
        </li>
        <li class="nav-item">
          <form class="d-flex" method="GET" action="/search-player">
            <label for="searchedPlayer"></label>
            <input
              class="form-control me-2 h-25 w-100"
              id="searchedPlayer"
              type="text"
              name="searchedPlayer"
              placeholder="Search"
            />
            <button
              class="btn btn-outline-light btn-sm"
              type="submit"
            >Search</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section id="startlineupSection">
  <div class="personalInfoDiv">
    <div class="profileImgDiv">
      <img
        src="https://hips.hearstapps.com/hmg-prod/images/michael-jordan.jpg"
        alt=""
        class="profileImg"
      />
    </div>
    <hr class="hrNotIndex">
    <ul class="personalInfo alignText">
      <li class="profileInfo">Coach: {{user.username}}</li>
      <li class="profileInfo">G.O.A.T: {{user.GOAT}}</li>
      <li class="profileInfo">Cards Collected: {{user.cardsCollected}}</li>
    </ul>
    <hr class="hrNotIndex">
      <a class="profileInfo btn btn-outline-light" href="/editPersonalProfile/{{user._id}}">Edit Profile</a>
      {{#unless existStartlineup}}
      <a class="profileInfo btn btn-outline-light" href="/start-line-up/{{user._id}}">Create Start Lineup</a>
      {{/unless}}
      {{#if existStartlineup}}
      <a class="profileInfo btn btn-outline-light" href="/start-line-up/{{user._id}}">Edit Start Lineup</a>
      <a class="profileInfo btn btn-outline-light" href="/start-line-up/{{user._id}}/delete">Delete Start Lineup</a>
      {{/if}}

  </div>
  <div class="courtLineup">
    <div class="round player1"><img
        src="{{user.startlineup.0.imageLineup}}"
        alt=""
        class="roundedImg"
      /></div>
    <div class="round player2"><img
        src="{{user.startlineup.1.imageLineup}}"
        alt=""
        class="roundedImg"
      /></div>
    <div class="round player3"><img
        src="{{user.startlineup.2.imageLineup}}"
        alt=""
        class="roundedImg"
      /></div>
    <div class="round player4"><img
        src="{{user.startlineup.3.imageLineup}}"
        alt=""
        class="roundedImg"
      /></div>
    <div class="round player5"><img
        src="{{user.startlineup.4.imageLineup}}"
        alt=""
        class="roundedImg"
      /></div>
  </div>
  <div>
  </div>
</section>